.box{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s;
    transition-delay: 1s;
    
}

.box:hover{
    width: 300px;
    height: 300px;
    
}